#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $theme-color-white;
  z-index: 1200;
}

.loader {
  border: 2px solid $theme-color-primary;
  top: 50%;
  width: 68px;
  height: 68px;
  margin: 50px auto 0;
  position: relative;
  animation: animate 2.6s linear infinite;
}
.loader:before,
.loader:after {
  content: "";
  width: 50px;
  height: 50px;
  border: 2px solid $theme-color-primary;
  display: block;
  position: absolute;
  top: 50%;
  animation: animate_1 1.3s linear infinite;
  animation-direction: reverse;
}
.loader:after {
  width: 96px;
  height: 96px;
  // top: -15px;
  // left: -15px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate_1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
